body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: $white;
}

main {
	padding: 20px 0px;
	text-align: left;
	width: 80%;
	margin: 0px auto;
	margin-bottom: $navtotalheight;
	@include breakpoint(medium down){
		width: 100%;
		padding: 10px;
	}
}

.centeredbox {
	@include vertically-center();
}
.nopadding {
	padding: 0px;
}
.redtext {
	color: $red;
}

.homepage {
	position: relative;
	top: -$navtotalheight;
	margin: 0px;
}

hr {
	width: 80%;
}

header {
	width: 100vw;
	height: 100vh;
	margin: 0px auto;
	padding-top: 0px;
	background: url('../data/images/uiuc/grainger.jpg') no-repeat center center fixed;
	background-size: cover;

	h1 {
		font-size: 5rem;
		color: $white;
		text-align: center;
		font-weight: bold;
		@include breakpoint(small down){
			font-size: 3rem;
		}
	}

	h2 {
		letter-spacing: 1px;
		color: $white;
		font-size: 2rem;
		text-transform: none;
		@include breakpoint(small down){
			font-size: 1.6rem;
		}
	}
}
.divheader {
	height: 100vh;
	margin: 0px auto;
	background-color: $blackA4;
	hr {
		width: 60%;
	}
}

.anchor{
  display: block;
  height: $navtotalheight; /*same height as nav*/
  margin-top: -$navtotalheight; /*same height as nav*/
  visibility: hidden;
}

.about {
	margin: auto;
	width: 60%;
	@include breakpoint(medium down){
		width: 80%;
	}
	@include breakpoint(small down){
		width: 100%;
	}
}

.programs {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: $white;
	h2 {
		color: $white;
	}
	h1 {
		text-transform: none;
		font-weight: normal;
	}
}
.programbox {
	font-weight: normal;
	padding: 50px 100px;
	color: $black;
	@include breakpoint(medium down){
		padding: 50px 10px;
	}
	&:hover {
		font-weight: normal;
		color: $black;
		opacity: 0.8;
		h4 {
			color: $navy;
		}
	}
}

.navy1 {
	background-color: $navyA05;
}
.navy2 {
	background-color: $navyA075;
}

.divmeet {
	background-color: $white;
	padding: 60px 0px;
	h1 {
		text-transform: none;
		font-weight: normal;
	}
}

ul {
	width: 80%;
	margin: auto;
}

// For sections within a page
section {
	margin: 20px;
}

table {
	margin: auto;
}

footer {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	background-color: $navy;
	width:100%;
	text-align: center;
	margin: 0px;
	padding: 20px;
	color: $white;
	letter-spacing: 1px;
	position: relative;
	bottom: $navtotalheight;

	#footermain {
		margin: 0px auto;
		overflow: hidden;
		width: 700px;
		@include breakpoint(small down){
			width: 100%;
		}
		.phoneid a {
			font-weight: normal;
			color: $red;
			&:hover {
				color: $white;
			}
		}

		h4 {
			color: $red;
		}
	}
}

.rightbox, .leftbox {
	text-align: left;
	padding-bottom: 10px;
}


p {
	width: 90%;
	margin: 20px auto;
}

h1 {	// EIB title
	font-size: 3rem;
	color: $titlecolor;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

h2 {	// Section title
	color: $navy;
	font-size: 2.5rem;
	line-height: 100%;
	text-align: center;
	letter-spacing: 2px;
	margin: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	//text-transform: uppercase;
}

h3 {	// Other subtitles
	color: $red;
	font-size: 1.5rem;
	letter-spacing: 1px;
	//font-weight: bold;
	line-height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	//text-transform: uppercase;
}

h4 {
	color: $red;
	font-size: 1.2rem;
	letter-spacing: 1px;
	line-height: 1.5rem;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}

a, a:visited, a:active {
	transition: 0.2s;
	color: $red;
	font-weight: normal;
	.programbox {
		transition: 0.2s;
	}
}
a:hover{
	font-weight: normal;
	color: $navy;
}