.memberbox{
	padding: 20px;
	background-color: $white;
	text-align: center;
}

.namebox{
	letter-spacing: 1px;
	margin: 5px auto;
	line-height: 1em;
	font-family: 'Roboto Condensed', sans-serif;
}

.membername {
	font-size: 1.3rem;
}

.memberposition {
	text-transform: uppercase;
	//font-weight: bold;
	font-size: 0.9rem;
	color: $red;
	letter-spacing: 1px;
	font-family: 'Roboto Condensed', sans-serif;
}

.memberbio {
	line-height: 1.2em;
	width: 85%;
	margin: auto;
}

img.memberpic{
	width: 200px;
	height: 200px;
	@include border-radius(100px); 
	border: 2px solid $white;
}