// Insert your variables

$titlecolor		: #000000;
$genreBG		: #C1C1C1;
$detailBG		: #C1C1C1;

$bodyfontcolor	: #000000;

$navheight		: 40px;
$footerheight	: 100px;

$orange			: #f09d24;
$blue			: #6495ED;
$lightblue		: #92d0f9;
$lightgray		: #D3D3D3;
$black			: #000000;
$white			: #FFFFFF;
$dodgerblue		: #2199e8;
$wetasphalt		: rgba(52, 73, 94, 1.0);
$wetasphaltA5	: rgba(52, 73, 94, 0.5);
$midnightblue	: rgba(44, 62, 80, 1.0);
$lightslate		: #8585b9;