<div ng-controller="advocatesController">

	<main>

	<h2>Engineering Advocates</h2>

	<h3>About</h3>

	<p>Engineering Advocates is a dynamic engineering education outreach program for students in elementary, middle, and high school. The program began in 1997 and is being brought back into full effect this year. The purposes of the program include:

	<ul>
	<li>To show that engineering is fun and exciting</li>
	<li>Allow students to interact with an engineering student</li>
	<li>Encourage students to take higher level math and science classes as they progress through school</li>
	<li>Tell students about Illinois</li>
	</ul>
	</p>

	<p>Students in the College of Engineering volunteer to serve as Engineering Advocates. At the elementary and middle school levels, Engineering Advocates present hands-on activities. At the high school level, Advocates are supplied a template presentation to which they can make appropriate edits. Engineering students are trained as presenters to use this PowerPoint presentation and hands-on materials to accomplish the goals of the program. With the previous decommissioning of this program, we are looking for more students to participate this coming year as we attempt to restore it to form. Please contact the Engineering Advocates Coordinator at <a href="mailto:eib-advocates@ec.illinois.edu">eib-advocates@ec.illinois.edu</a>.
	</p>

	</main>

</div>