<div ng-controller="edaysController">

	<main>

	<h2>Engineering Days</h2>

	<h3>About</h3>

	<p>Welcome to Engineering Days for high school students! Engineering Days is one of the best ways for
	 prospective engineering students to see what being an engineer is all about. The University of Illinois 
	 and Engineering Council would like to invite you to attend the next program!</p>

	<p>As a high school student, you have probably begun to consider different majors of study and which school
	 to attend after graduation. You will have many questions. Engineering Days can begin to help answer these
	  questions even if you're merely thinking about a career in engineering.</p>

	<p>During the course of the day, you will learn about the different engineering fields, visit cutting-edge
	 labs, talk to current college students about life as an engineering student, and get a good look at one 
	 of the nation's top rated engineering universities. For more information on what a typical Engineering Day
	  is made up of, please see the sample schedule below.
	</p>

	<p>
	<i>Note: This is only a sample schedule. Times and locations vary for each Engineering Day.</i>
	<table> 
		<tr> 
			<th>Time</th> 
			<th>Activity</th> 
			<th>Location</th> 
		</tr> 
		<tr> 
			<td>9:00 - 9:55 am</td> 
			<td>Check-In</td> 
			<td>112 Engineering Hall</td> 
		</tr> 
		<tr> 
			<td>9:15 - 9:50 am</td> 
			<td>Optional Quad Tour</td> 
			<td>Main Quad</td> 
		</tr> 
		<tr> 
			<td>10:00 - 10:30 am</td> 
			<td>UIUC College of Engineering Presentation</td> 
			<td>1214 Siebel Center</td> 
		</tr> 
		<tr> 
			<td>10:30 - 11:00 am</td> 
			<td>Engineering Majors Presentation</td> 
			<td>1214 Siebel Center</td> 
		</tr> 
		<tr> 
			<td>11:00 - 11:15 am</td> 
			<td>Study Abroad Presentation</td> 
			<td>106B8 Engineering Hall</td> 
		</tr> 
		<tr> 
			<td>11:20 - 11:55 am</td> 
			<td>Engineering Project Showcase</td> 
			<td>106B8 Engineering Hall</td> 
		</tr> 
		<tr> 
			<td>11:55 am - 12:30 pm</td> 
			<td>Parent/Student Panel</td> 
			<td>Grainger Engineering Library</td> 
		</tr> 
		<tr> 
			<td>12:45 - 1:30 pm</td> 
			<td>Lunch</td> 
			<td>Illinois Street Residence Halls</td> 
		</tr> 
		<tr> 
			<td>1:45 - 2:10 pm</td> 
			<td>Electrical and Computer Engineering Lab Tour</td> 
			<td>Electrical and Computer Engineering Building</td> 
		</tr>
		<tr> 
			<td>2:20 - 2:45 pm</td> 
			<td>Mechanical Engineering Lab Tour</td> 
			<td>Mechanical Engineering Lab</td> 
		</tr> 
		<tr> 
			<td>2:55 - 3:20 pm</td> 
			<td>Chemical Engineering Lab Tour</td> 
			<td>Roger Adams Lab</td> 
		</tr> 
		<tr> 
			<td>3:05 - 3:15 pm</td> 
			<td>Feedback Forms</td> 
			<td>Roger Adams Lab</td> 
		</tr>
		<tr> 
			<td>3:30 pm</td> 
			<td>Optional Dorm Tour</td> 
			<td>Illinois Street Residence Halls</td> 
		</tr>
	</table>
	</p>

	<h3>Sign Up</h3>
	<p>Engineering Days for the 2016-2017 school year are now open for registration. The cost of registration is $20, or $39 if a parking space is needed. Each additional guest is $10.</p>

	<p>Click the links below to sign up for the corresponding Engineering Day. If the day you would like to attend is closed, please fill out the waitlist form.</p>

	<p>
	<ul>
		<li><a href="https://docs.google.com/forms/d/1ZVcu_I3A0WtpkQljHMoA-5g3Z0gtuALUrMlH2LrzI44/viewform?usp=send_form">Friday, September 16, 2016</a></li>
		<li><a href="https://docs.google.com/forms/d/15OUkWkRWDxrE5gbhtsYoY8NjgLubuALcmDY50VENisE/viewform?usp=send_form">Friday, October 14, 2016</a></li>
		<li><a href="https://docs.google.com/forms/d/1mwp7D9UNLwJHLOBmrJ3j1Yy0qdWVCy52WYYrbJ3EyA4/viewform?usp=send_form">Friday, November 11, 2016</a></li>
		<li><a href="https://docs.google.com/forms/d/1tJaBQKMGf-m3_1a5uMK3Qi6NJ5sb668HySaT-loxyeA/viewform?usp=send_form">Waitlist</a></li>
	</ul>	
	</p>

	</main>

</div>