<div ng-controller="programsController">

	<main>

	<h2>Our Programs</h2>

	<h3>About</h3>
	<p>Engineering Campus Tours leave from the <a href="http://spurlock.illinois.edu/">Spurlock Museum</a> at 2:00 p.m. every Monday through Friday during the school year. To attend a tour, simply go to the front desk of the Spurlock Museum and say you are there for an Engineering Campus Tour. </p>

	<p><b>There is no need for prior registration for this event.</b> EIB is the only university agency that offers such tours of the engineering campus.</p> 
	 
	<p>Approximately 2,000 people attend Engineering Campus Tours every semester. Our tour guides are current engineering students who provide current information about our departments and research, as well as first-hand experiences from their time in Engineering at Illinois. After the tour is completed at 3:30 pm, either a dean or an academic advisor will offer a session where you may ask more questions. This session does not require prior registration, and will be the ending point of the Engineering Campus Tour.</p> 
	 
	<p>Special tours may be arranged by emailing the Engineering Campus Tours Director at <a href="mailto:eib-tours@illinois.edu">eib-tours@illinois.edu</a>, or by calling <a href="tel:1-217-244-3828">(217) 244-3828</a>.</p>
	 
	<p>The Campus Visitors Center welcomes prospective undergraduate students with programs that are held at 10:00 a.m. and 1:00 p.m. Monday through Friday (except some holidays). Each program includes a media presentation, admission and housing information, and a general campus tour. Learn more about the programs offered, including Orange &amp; Blue Days, Saturday Programs, special seminars, and more <a href="http://www.admissions.illinois.edu/index.html">here</a>.</p>

	<h3>Sign Up</h3>
	<p>There is no need for prior registration. Special tours may be arranged by emailing the Engineering Campus Tours Director at <a href="mailto:eib-tours@illinois.edu">eib-tours@illinois.edu</a>, or by calling <a href="tel:1-217-244-3828">(217) 244-3828</a>.</p>

	<p>To set up a visit to the general campus, visit the <a href="https://admissions.illinois.edu/visit">Office of Admissions website</a> to register online or call Campus Visits at <a href="tel:1-217-333-0824">(217) 333-0824</a>.</p> 
	
	</main>

</div>