<div ng-controller="shadowController">

	<main>
	<h2>Shadow an Engineer</h2>

	<h3>About</h3>
	<p>The Shadow an Engineer program is the Engineering Information Bureau's newest program. It allows visiting students to spend the day with a current engineering student at the University of Illinois and see what campus life is really like. Visiting students will sit in on lectures, see residence halls and facilities, and most importantly, get time to talk with current students about their experiences.</p> 

	<p>The program will be run on an individual basis to better serve the needs of our visitors. Dates and times are entirely customized with the intention of serving students who cannot attend our current offerings or are looking for a more personalized campus visit.</p> 
 

 	<h3>Sign Up</h3>
	<p>Simply fill out the <a href="https://goo.gl/forms/2VYUkaBOwd9omX763">registration form</a>, and the Engineering Information Bureau will begin arranging your visit.</p> 
			
	<p><b>Note: </b>Students must sign up at least two weeks in advance.</p>

	</main>

</div>